<div class="rtl">
    <h2>
        <a routerLink="/projects">لیست</a>
    </h2>
    
    <a class="project-title" [routerLink]="project.title" *ngFor="let project of projects">
        {{project.title}}
    </a>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="onNewProject()">اضافه کن</button>
        </div>
        <input [(ngModel)]="newProjectTitle" type="text" class="form-control" placeholder="پروژه‌ی جدید">
    </div>
</div>