<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="addNewTask()">اضافه کن</button>
    </div>
    <input [(ngModel)]="newTitle" type="text" class="form-control" placeholder="تسک جدید" aria-label="Example text with button addon" aria-describedby="button-addon1">
    <!-- TODO: data binding! -->
    <select [(ngModel)]="newProjectID" name="project" id="project" class="custom-select"> 
        <option *ngFor="let project of getProjectsTitle()" [value]="project.id">{{ project.title }}</option>
    </select>
</div>