<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="col-4">
    <div formGroupName="personalData">
      <input type="Name" class="form-control" placeholder="نام" formControlName="name">
      <span *ngIf="!registerForm.get('personalData.name').valid && registerForm.get('personalData.name').touched">
        لطفا نام صحیح وارد کنید
      </span>
      <select class="form-control" formControlName="gender">
        <option value="male">
          مرد
        </option>
        <option value="female">
          زن
        </option>
      </select>  
    </div>
    <input type="email" class="form-control" placeholder="ایمیل" formControlName="email">
    <span class="control-block rtl" *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">
      ایمیل صحیح نیست
    </span>
    <input type="password" class="form-control" placeholder="رمز عبور" formControlName="password">

    <button class="btn btn-primary">
      ثبت نام
    </button>
  </div>
</form>